.categoria {
	font-style: italic;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 13px;
	margin-top: -15px;
}

.cat-media {
    border-right: 10px solid $media;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cat-negocios {
    border-right: 10px solid $negocios;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cat-cultura-geek {
    border-right: 10px solid $cultura-geek;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cat-diseno {
    border-right: 10px solid $diseno;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cat-cg {
    border-right: 10px solid $cg;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cat-offtopic {
    border-right: 10px solid $offtopic;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.color-media {
    color: $media;
}

.color-negocios {
    color: $negocios;
}

.color-cultura-geek {
    color: $cultura-geek;
}

.color-diseno {
    color: $diseno;
}

.color-cg {
    color: $cg;
}

.color-offtopic {
    color: $offtopic;
}