/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #084c87;

/* Colores de Categorias */
$media: #d3584a;
$negocios: #e5ac3c;
$cultura-geek: #51af5c;
$diseno: #44a099;
$cg: #317084;
$offtopic: #7a416a;

/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "category";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";